<!DOCTYPE html>
<html>

<head>

    <title>Bus Roots</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet"
        href="/design_files/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/design_files/css/style.css">

    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-storage.js"></script>

</head>

<body>
    <div class="wrapper"  style="background-color: #ebebeb">
        
        <div id="nav-placeholder">

        </div>

        <script>
            $(function () {
                $("#nav-placeholder").load("admin-navbar.html");
            });
        </script>

        <div class="inner" style="border-radius: 15px;">



            <div class="image-holder">
                <img src="/design_files/images/root_insert.jpg">
            </div>
            <form action="">
                <h3>Enter Time Slot</h3>

                <div class="form-wrapper">
                    <input id="routeRegNo" type="text" placeholder="Register No" class="form-control">
                    <i class="zmdi zmdi zmdi-email"></i>
                </div>

                <div class="form-group">
                    <input id="from" type="text" placeholder="From" class="form-control">
                    <input id="to" type="text" placeholder="To" class="form-control">

                </div>

                <div class="form-wrapper">
                    <input id="trackNo" type="text" placeholder="Track Number" class="form-control">
                    <i class="zmdi zmdi zmdi-email"></i>
                </div>


                <div class="form-wrapper">
                    <p>Depature Time </p> <input id="departureTime" type="time" placeholder="" class="form-control">
                </div>

                <div class="form-wrapper">
                    <p>Arrival Time </p> <input id="arrivalTime" type="time" placeholder="" class="form-control">
                </div>


                <div class="form-group container-login100-form-btn">

                    <button onclick="insertBusTimeSlot()" id="btn-update" type="button">
                        Enter Route
                        <i class="zmdi zmdi-arrow-right"></i>
                    </button>
                </div>


                <script src="/js/database.js"></script>
                <script src="/js/bustimeslots.js"></script>

            </form>
        </div>
    </div>

</body>