<!DOCTYPE html>
<html>

<head>

    <title>TOD Admin</title>

    <link rel="icon" type="image/png" href="css/design_files/images/logo.jpg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet"
        href="/design_files/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/design_files/css/style.css">

    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-storage-compat.js"></script>

</head>

<body>
    <div class="wrapper" style="background-color: #ebebeb">


        <div class="inner" style="border-radius: 15px;">
            <div class="image-holder">
                <img src="css/design_files/images/root_insert.jpg">
            </div>
            <form action="">
                <h3>New Bus</h3>

                <div class="form-wrapper">
                    <input id="busRegNo" type="text" placeholder="Registered No" class="form-control">
                </div>

                <div class="form-wrapper">
                    <input id="busRegDate" type="date" placeholder="Registered Date" class="form-control">
                </div>

                <div class="form-wrapper">
                    <select name="" id="busManuCompany" class="form-control">

                        <option value="" disabled selected>Manufactured Company</option>
                        <option value="AshokLeyland">Ashok Leyland</option>
                        <option value="TATA">TATA</option>
                        <option value="Micro">Micro</option>

                    </select>
                </div>

                <div class="form-wrapper">
                    <input id="busCompanyID" type="text" placeholder="Owned company ID" class="form-control">
                </div>

                <div class="form-wrapper">
                    <input id="assignedDriverID" type="text" placeholder="Driver ID" class="form-control">
                </div>

                <div class="form-wrapper">
                    <input id="assignedConductorID" type="text" placeholder="Conductor ID" class="form-control">
                </div>

                <button onclick="insertBus()" id="btn-update" type="button" >
                    Register the Bus
                </button>
        </div>

        </form>
    </div>
    </div>

    <script src="js/database.js"></script>
    <script src="js/bus.js"></script>

</body>