
.mainbac{
    background-color: rgb(214, 214, 214); 
}

.mainbox{
    background-color: rgb(168, 78, 78);
    padding: 20px;

}

.imagesection{
    background-color: white;
}

.formsection{
    background-color: rgb(14, 10, 10);
}