<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-common">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-shopping-cart fa-3x text-warning"></i>
                  <div class="text-right text-secondary">
                    <h5>Income</h5>
                    <h3>$135,000</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer text-secondary">
                <i class="fas fa-sync mr-3"></i>
                <span>Check In</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-common">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                  <div class="text-right text-secondary">
                    <h5>Expenses</h5>
                    <h3>$39,000</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer text-secondary">
                <i class="fas fa-sync mr-3"></i>
                <span>Check In</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-common">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-users fa-3x text-info"></i>
                  <div class="text-right text-secondary">
                    <h5>Passengers</h5>
                    <h3>15,000</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer text-secondary">
                <i class="fas fa-sync mr-3"></i>
                <span>Check In</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-common">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-chart-line fa-3x text-danger"></i>
                  <div class="text-right text-secondary">
                    <h5>Online</h5>
                    <h3>5,000</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer text-secondary">
                <i class="fas fa-sync mr-3"></i>
                <span>Check In</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </section> -->

  <!-- <section> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row align-items-center mb-5">
          <div class="col-xl-7">
            <h4 class="text-muted mb-4">Recent Customer Reviews</h4>
            <div id="accordion">
              <table id="busReviewTables" class="table table-striped table-dark">

                <thead>
                  <tr class="header">
                    <th scope="col">Reg No</th>
                    <th scope="col">Bus No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Review</th>
                    <th scope="col">Date</th>
                    <th scope="col">TIme</th>
                  </tr>
                </thead>
                <tbody id="list-table-review">

                </tbody>

              </table>
            </div>
          </div>
          <div class="col-xl-5 mt-5">

            <!--Ad Post Area-->
            <div class="jumbotron bg-dark" style="margin-top: 10px;">

              <script>
                var counter = 0;
              </script>
              <div class="container text-center">
                <form id="main-form">
                  <div class="form-group">
                    <textarea type="text" rows="5" placeholder="Description" class="form-control"
                      id="main-desc"></textarea>
                    <div class="invalid-feedback">
                      Please write some description
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="file" class="form-control" id="main-image" />
                    <div class="invalid-feedback">
                      Please choose a valid picture
                    </div>
                  </div>
                  <div class="form-group">
                    <img id="selected-image" width="250" height="150" src="#" />
                  </div>
                  <div class="form-group">
                    <div class="progress bg-secondary">
                      <div class="progress-bar bg-success" id="upload-progress" style="width: 0%">0%</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button id="save-blog" type="button" style="width: 300px; height: 50px;"
                      class="btn btn-light bg-light text-dark">Publish New Promotion</button>
                  </div>
                </form>

                <div id="result">

                </div>
              </div>
            </div>

            <!--Post Area-->

            <!--After Post Area-->
            <!-- <hr>
              <br>
              <div class="text-center bg-light text-dark">
                  <h3>Current Promotions</h3>
              </div>

              <hr>
              <br>

              <div class="row container-fluid bg-3">
                  <div class="col-sm-12" id="blogs">

                  </div>

              </div>
              <br> -->
            <!--After Post Area End here -->

            <!--Validations and uploading of post blogs -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid" style="margin-top: 60px;">
    <div class="row">

      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <hr>
        <br>
        <div class="text-center bg-light text-dark">
          <h3>Current Promotions</h3>
        </div>

        <hr>
        <br>

        <div class="row container-fluid bg-3">
          <div class="col-sm-12" id="blogs">

          </div>

        </div>
        <br>
        <!--After Post Area End here -->

      </div>
      <!-- </div> -->
    </div>
  </div>

</section>

<script>
  var validImagetypes = ["image/gif", "image/jpeg", "image/png"];

  $("#selected-image").hide();

  function previewImage(image_blog) {
    if (image_blog.files && image_blog.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#selected-image").attr('src', e.target.result);
        $("#selected-image").fadeIn();
      }
      reader.readAsDataURL(image_blog.files[0]);

      $("#selected-image").show();
    }
  }

  $("#main-image").change(function () {
    previewImage(this);
  });

  $("#save-blog").click(function () {
    $("#main-desc").removeClass("is-invalid");
    $("#main-image").removeClass("is-invalid");

    var desc = $("#main-desc").val();
    var picture = $("#main-image").prop("files")[0];

    if (!desc) {
      $("#main-desc").addClass("is-invalid");
      return;
    }

    if (!picture) {
      $("#main-image").addClass("is-invalid");
      return;
    }
    if ($.inArray(picture["type"], validImagetypes) < 0) {
      $("#main-image").addClass("is-invalid");
      return;
    }

    // Upload and save to  firebase storage
    var databaseRef = firebase.database().ref().child("Promotions");

    databaseRef.once("value").then(function (snapshot) {
      var name = picture["name"];

      var date = new Date();
      var dateStr = date.getTime();
      var fileCompleteName = name + "_" + dateStr;

      var storageRef = firebase.storage().ref().child("Prom Images");
      var blogStorageRef = storageRef.child(fileCompleteName);

      var uploadTask = blogStorageRef.put(picture);

      uploadTask.on("state_changed",

        function progress(snapshot) {
          var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;

          $("#upload-progress").html(Math.round(percentage) + "%");
          $("#upload-progress").attr("style", "width" + percentage + "%");

        },

        function error(err) {

        },

        function complete() {
          var user = firebase.auth().currentUser;
          var userName;
          firebase.database().ref('Admin/' + user.uid).once('value').then(function (snapshot) {
            var fName = (snapshot.val() && snapshot.val().firstName);
            var sName = (snapshot.val() && snapshot.val().lastName);

            userName = fName + "_" + sName;
          });

          uploadTask.snapshot.ref.getDownloadURL().then(function (downloadUrl) {
            var time = new Date();

            var options = {
              weekday: "long",
              month: "long",
              day: "2-digit",
              year: "numeric",
            };

            var blogData = {
              "image": downloadUrl,
              "name": fileCompleteName,
              "desc": desc,
              "uid": user.uid,
              "counter": 5000 - counter,
              "name": userName,
              "time": time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }),
              "date": time.toLocaleDateString('en-US', options),
            };

            var newPostRef = databaseRef.push();

            newPostRef.set(blogData, function (err) {
              if (err) {
                $("#result").attr("class", "alert alert-danger");
                $("#result").html(err.message);
              }
              else {
                $("#result").attr("class", "alert alert-success");
                $("#result").html("Propmotion has been Uploaded successfully.");

                window.open("", "_self");
              }
            });
          });

        }


      );

    });
  });

  function resetForm() {
    $("#main-form")[0].reset();
    $("#selected-form").fadeOut();
    $("#upload-form").html("Completed");
  }

  //start rertrive data from the datbase 
  var firebaseConfig = {
    apiKey: "AIzaSyDVSNwiJxw-godBSv-gzFzYgNUXZU81ksY",
    authDomain: "ptms-4b687.firebaseapp.com",
    databaseURL: "https://ptms-4b687.firebaseio.com",
    projectId: "ptms-4b687",
    storageBucket: "ptms-4b687.appspot.com",
    messagingSenderId: "1028667957586",
    appId: "1:1028667957586:web:698a3ac97b71487e131a8b",
    measurementId: "G-DPJE0QW44H"
  };
  // Initialize Firebase
  if (!firebase.apps.length) {
    firebase.initializeApp(firebaseConfig);
  }

  //firebase.initializeApp(firebaseConfig);

  firebase.auth.Auth.Persistence.LOCAL;

  var dblogs = firebase.database().ref().child("Promotions").orderByChild("counter");

  dblogs.on("value", function (blogs) {
    if (blogs.exists()) {
      var blogsHtml = "";

      blogs.forEach(function (singleBlog) {

        counter = counter + 1;

        blogsHtml += "<div class='jumbotron bg-light text-dark border border-dark'>";

        blogsHtml += "<div> <img width='1000px' height='550px' src='";
        blogsHtml += singleBlog.val().image;
        blogsHtml += "'/></div><br>";

        blogsHtml += "<div class='row'>";
        blogsHtml += "<div class='col-sm-5'> <p style='grey';>"
          + "published by: " + singleBlog.val().userName
          + "</p></div>" +

          "<div class='col-sm-3'> <p style='grey';>"
          + "Time : " + singleBlog.val().time
          + "</p></div>" +

          "<div class='col-sm-4'> <p style='grey; margin-left: 15px;'>"
          + "Date : " + singleBlog.val().date
          + "</p></div>"
          ;


        blogsHtml += "</div><br>";

        blogsHtml += "<div style='text-align: justify; color: black;'>";
        blogsHtml += singleBlog.val().desc;
        blogsHtml += "</div><br>";

        blogsHtml += "<div class ='form-group' style='text-align: justify; color: black;'>";
        blogsHtml += "<button class='form-control btn btn-light bg-dark text-white' onclick=deleterecord('" + singleBlog.key + "')>Delete this Promotion</button>";
        blogsHtml += "</div><br>";

        blogsHtml += "</div>";
      });
      $("#blogs").html(blogsHtml);

    }
  });

  function deleterecord(key) {
    var deleteRef = firebase.database().ref().child("Promotions").child(key);

    return deleteRef.remove()
      .then(function () {
        console.log("Remove Successfully.");
      })
      .catch(function () {
        console.log("Error Occured.");
      });
  }
//end recieve data from the database
</script>
<!-- end of activities / quick post -->